/* GENERAL */

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: navy;
}

/* HEADER */

.header{
    width: 100vw;
}

.inner{
    width: 85vw;
    padding: 20px;
    margin: 0 auto;
}

.nav{
    background-color: rgb(4, 4, 87);
    border: 2px solid black;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    display: flex;
}

li{
    margin-right: 40px;
    margin-top: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav h1{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

/* MAIN PART SECTION LEFT */

.main{
    display: flex;
    justify-content: space-between;
}

.article h2{
    margin-top: 100px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: chocolate;   
}

.article h1{
    margin-top: 20px;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;   
}

.article p{
    margin-top: 25px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;   
}

.article button{
    padding: 15px 35px;
    margin-top: 50px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: orangered;   
}

/* MAIN PART SECTION RIGHT */

.section-right img{
    margin-top: 100px;
    width: 560px;
    height: 380px;
}

/* FOOTER PART */

.nav1{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 30px;
    background-color: rgb(4, 4, 87);
}

.left h1{
    color: white;
}

span{
    font-size: 30px;
    color: white;
    padding-right: 30px;
}


